# Ambientes virtuais (onde ficam as bibliotecas instaladas)
venv/
.venv/
env/

# Arquivos temporários e de cache do Python
__pycache__/
*.py[cod]

# Arquivos com senhas e variáveis de ambiente
.env

# Configurações de editores e IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db